<h2>Show topic</h2>

<ul>

  <li>
    <strong>Subject:</strong>
    <%= @topic.title %>
  </li>

</ul>

<%= link "Edit", to: topic_path(@conn, :edit, @topic) %>
&nbsp;
<%= link "Back", to: topic_path(@conn, :index) %>
