/* This file is for your main application css. */

body, html {
  height: 100%;
}

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.no-decoration {
  text-decoration: none !important;
}

.bottom {
  position: absolute;
  bottom: -50vh;
}